.rules p {
    line-height: 30px;
    margin-left: 50px;
}

.rules h1 {
    text-decoration: underline;
    font-size: 24px;
    margin-left: 20px;
}

.rules {
    color:rgb(235, 226, 226);
    border-bottom: solid 1px rgb(235, 226, 226);
    padding-bottom: 20px;
    margin-bottom: 30px;
}