<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join the Fight - INSPRP</title>
    <link rel="stylesheet" href="css/basics.css" type="text/css">

    <script src="javascript/vue.min.js" type="text/javascript"></script>
    <script src="javascript/api.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <img src="" alt="Logo">
        <a href="test">Test Link</a>
    </header>
    <main>
    </main>
    <div id="server-stats">
        <h2>Server Status: {{serverStatus}}</h2>
        <h2>Players: {{playerCount}}</h2>
        <h2>Discord Users: {{discordUserCount}}</h2>
    </div>
</body>
</html>